@import 'partials/normalize';
@import 'partials/flashes';
@import 'partials/variables';
@import 'partials/login';
@import 'partials/send';
@import 'partials/display';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid black;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: $purple;
  height: 100%;
  font-size: 16px;
}

.inner {
  margin: 0 50px;
  display: flex;
}

.center {
  justify-content: center;
}

button {
  // height: 25px;
  width: 25px;
  background: gray;
}

li {
  margin-bottom: 5px;
}
