doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    .pen-hand-bg.full-height
      .inner.center.vertical-stack
        .welcome-block
          h1 EasyScreen
          h2 Remote real-time closed captioning
        .welcome-button-block
          a(href="/login"): button.button Log In
