extends layout

block content
  .pen-hand-bg.full-height
    .inner.center.vertical-stack
      .welcome-block
        h1 EasyScreen
        h2 Remote real-time closed captioning
      .welcome-button-block
        a(href="/login"): button.button Log In
