doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block messages
      if locals.flashes
        .flash-messages
          - const categories = Object.keys(locals.flashes)
          each category in categories
            each message in flashes[category]
              .flash(class=`flash--${category}`)
                p.flash__text!= message
                button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    block menu
      .menu-container#menu-container
        .menu-button#menu-button ...
        .menu
          ul.menu__list
            li.menu__list-item Logout
      
    .mask#mask              
    block content
    
      
block scripts
script(src="/javascripts/dropdown.js")      
