extends layout

block content
  .inner.center
    .message-container
      h2#message

block scripts
  script.
    _uid="#{uid}";
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/display.js")
