/*client CSS*/

.message-list-container {
  margin-top: $menu-button-height;
}

.message-list {
  list-style: none;
  font-size: 24px;

  .li--shrink {
    background: $yellow;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
  }
}

.form-send {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px 50px;
  font-size: 24px;

  &__input {
    width: 100%;
    height: 70px;
    padding-left: 10px;
    font-size: inherit;
  }
}
